

.addNotepad input {
    margin: 10px;
}


.addNotepad {
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    min-height: fit-content;
    left: 0;
    right: 0;
    margin: 10px auto;
    position: absolute;
    top: 10%;
    background-color: aliceblue;
    z-index: 100;
}
