.overlay {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.pop-up {
    transition-duration: 0.1s;
}